.cell {
    width: 200px;
    height: 200px;
    cursor: pointer;
    outline: none;
    font-size: 65px;
    color: rgb(219, 219, 219);
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(145, 112, 112, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 10px;
    border: 1px solid rgba(240, 13, 13, 0.427);
}

.cell:hover {
    background-color: gray;
    transition: .3s all ease;
}