.wrapper {
  background: black;
}

.main {
  max-width: 1400px;
  margin: 0 auto;
  height: calc(100vh - 80px);
  user-select: none;
  background: #151515;
}

.content {
  height: 45vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), #151515), url('https://i.pinimg.com/originals/58/d9/d0/58d9d01035ad68ae92ed24af52522753.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* .game {
  cursor: pointer;
  width: 45%;
  min-height: 120px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.game:hover {
  background: rgb(212, 212, 212);
}