.startGame {
  width: 700px;
  height: 400px;
  margin: 10px auto;
  border: 1px solid black;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  text-shadow: 1px 1px black;
  font-size: 2rem;
  background: white;
}

.variables {
  text-align: center;
}

.variables div {
  background: white;
  cursor: pointer;
  border: 1px solid black;
  margin: 5px;
  padding: 2px;
  font-size: 1.2rem;
}