.startGame {
  width: 300px;
  margin: 10px auto;
  border: 1px solid black;
  text-align: center;
  padding: 5px;
}

.variables {
  text-align: center;
}

.variables div {
  cursor: pointer;
  border: 1px solid black;
  margin: 5px;
}