.overlay {
  width: 100%;
  height: calc(100vh - 80px);
  background: black;
}

.main {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2), #151515c2), url('https://pbs.twimg.com/media/CKm7EjSUAAAixf0.jpg:large') no-repeat;
  width: 1300px;
  margin: 0 auto;
  height: calc(100vh - 80px);
}