.overlay {
  width: 100%;
  height: calc(100vh - 80px);
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainBoard {
  width: 1300px;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.05), #151515d4), url('https://wallpapercave.com/wp/wp4721592.jpg') no-repeat;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}